<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ciudades</key>
	<array>
		<string>Barcelona</string>
		<string>Madrid</string>
		<string>Sevilla</string>
	</array>
	<key>idioma</key>
	<string>Ingles</string>
	<key>empresa</key>
	<string>Telefonica</string>
	<key>ciudad</key>
	<string>Manchester</string>
</dict>
</plist>
